<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="registerform" method="post" action="{%url 'reg'%}">
        {%csrf_token%}
        <input type="text" name="name" >
        <input type="text" name="username">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">Register</button>
    </form>
    <script>
        document.getElementById('registerform').addEventListener('submit', function (event) {
                    event.preventDefault(); // Prevent the default form submission
                    const csrfTokenInput = document.querySelector('[name="csrfmiddlewaretoken"]');
    
        // Get the CSRF token value from the input element
                    const csrfToken = csrfTokenInput.value;
                    console.log(csrfTokenInput)
                    // Get form data
                    const formData = new FormData(this);
                    
                    // Convert form data to JSON object
                    const data=Object.fromEntries(formData)
                    console.log(data)
                    // Send the form data to your Django backend using fetch
                    fetch('http://127.0.0.1:8000/api/authentification/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                            // You can include other headers if needed, e.g., authentication token
                        },
                        body: JSON.stringify(data),
                    })
                    .then(response => {
                       
                            return response.json(); // Parse JSON data
                        
                    })
                    .then(data => {
                        // Handle the JSON data from the success response
                        console.log('Response data:', data);
                        // Update the UI or perform other actions based on the data
                    })
                    .catch(error => {
                        // Handle network errors or other errors here
                        console.error('Error:', error);
                    });
                });
            </script>
    
</body>
</html>